body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #6B8E23;
    font-size: 80%;
}

body {
    margin: 0;
}

body {
    display: block;
    margin: 8px;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 120%;
    -webkit-text-size-adjust: 100%;
}

